{% if modifyAllow is defined and modifyAllow == true %}<li><a data-toggle="modal" data-target="#modal_ajax" href="{{ path('itemlink_insertformitemlink', {'item_id': _itemid, 'item_type': _itemtype }) }}"><i class="fa fa-external-link"></i> Nuevo</a></li>{% endif %}
    {% if itemlinks is defined %}
        {% for link in itemlinks %}
        <li>
            {% if modifyAllow is defined and modifyAllow == true %}<a data-toggle="modal" data-target="#modal_ajax" href="{{ path('itemlink_insertformitemlink', {'id': link.id ,'item_id': _itemid,'item_type': _itemtype }) }}" title="Editar"><i class="fa fa-pencil"></i></a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="{{ link.link }}" target="_blank" title="Ir a Enlace"><i class="fa fa-link"></i> {% endif %}
                <span class="sale-info">{{link.name}} ({{ link.link  }})</span>
                {% if modifyAllow is defined and modifyAllow == true %}</a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="javascript:putItemLinkUp({{link.id}})" id=""><i class="fa fa-arrow-up"></a></i> {% endif %}
        {% if modifyAllow is defined and modifyAllow == true %}<a href="javascript:putItemLinkDown({{link.id}})" id=""><i class="fa fa-arrow-down"></a></i> {% endif %}
</li>   
{% endfor%}
{% endif %}


{% block additionalscripts %}
    <script>
        function putItemLinkUp(id) {
            $.post("{{path('itemlink_putuplink')}}", {'id': id}, function (r) {
                if (!r) {
                    alert("Error desconocido");
                    return;
                }
                ;
                if (r.errorCode > 0) {
                    alert(r.errorDescription);
                    return;
                }

                $('#list_itemlinks').html(r);
            });
        }

        function putItemLinkDown(id) {
            $.post("{{path('itemlink_putdownlink')}}", {'id': id}, function (r) {
                if (!r) {
                    alert("Error desconocido");
                    return;
                }
                ;
                if (r.errorCode > 0) {
                    alert(r.errorDescription);
                    return;
                }

                $('#list_itemlinks').html(r);
            });
        }
    </script>

{% endblock %}