{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'trainingexercise' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}

{% block modaltitle %}{% if id is defined and id>0 %}Editar{% else %}Nuevo {% endif %} Enlace{% endblock %}

{% block modalbody %}
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertItemlinkform">

        {% set configField = { 'label': 'Título', 'field': 'name'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {% set configField = { 'label': 'Enlace (http://...)', 'field': 'link'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deleteItemlink" class="btn red left-btn">Eliminar</button>{% endif %}
    <button type="button" id="btn_saveItemlink" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}


    <script>
        $(document).ready(function () {
            $('#btn_saveItemlink').click(function () {
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('itemlink_insertmodifyitemlink', {'item_id':item_id, 'item_type': item_type, 'id': id}) }}', $("#insertItemlinkform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_itemlinks').html(r);

                    $('.modal').modal('hide');
                });
            });

            $('#btn_deleteItemlink').click(function () {
                if (!confirm('¿Realmente desea eliminar el módulo de la sección? OPERACIÓN IRREVERSIBLE'))
                    return;
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('itemlink_dropitemlink', {'id':id}) }}', $("#insertItemlinkform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_itemlinks').html(r);

                    $('.modal').modal('hide');
                });
            });
        });
    </script>
{% endblock %}

